<!DOCTYPE html>
	<html>
  		<head>
    	<title>P5_Quiz</title>

<h1>Credits</h1>

<p>
    This Web Site has been created by Ernesto Pérez Martínez de Tejada and Alberto Cuevas Abad.
</p>
</head>
	<body>
    	<h1>El Quiz ha sido creado por las personas que salen en la foto</h1>
    	<img src="/images/tito.png" width="300" />
    	<img src="/images/cuevas.png" width="300" />
    	</body>
</html>